.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  max-width: 100%;
  max-height: 100%;
}

#root {
  text-align: center;
  min-width: 200px;
  max-width: 480px;
  min-height: 600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 10px;
  border-collapse: separate;
  box-shadow: 2px 2px grey;
  padding: 10px;
}
